In [1]:
import pandas as pd
import numpy as np
import feather
#import statsmodels.formula.api as smf
#from statsmodels.iolib.summary2 import summary_col
#import seaborn as sns
#import matplotlib.pyplot as plt
import os
#import altair as alt
from pathlib import Path

## Import data

In [2]:
datadir = "../input"
#figuredir = "/mnt/PATSTAT/Solar/out/figures"
#Path(figuredir).mkdir(parents=True, exist_ok=True) # Create if doesn't exist

In [3]:
os.chdir(datadir)
patents_df = pd.read_feather("solar_dataset_all_renewables") 
patents_df.head()

,appln_id,appln_auth,appln_kind,appln_filing_date,appln_filing_year,receiving_office,earliest_filing_year,earliest_filing_id,earliest_publn_year,granted,...,nb_citing_docdb_fam,ipc_class_symbol,ipc_class_level,ipc_value,fossil_fuel,person_ctry_code,cpc_class_symbol,cpc_gener_auth,cpc_position,cpc_value
0,66,EP,A,2004-03-02,2004,,2003,905739597,2005,Y,...,14,F27B5/04,A,I,1.0,FR,None,None,None,None
1,103,EP,A,2006-04-13,2006,,2005,6502820,2007,N,...,4,F01K21/04,A,I,1.0,CH,None,None,None,None
2,127,EP,A,2006-10-02,2006,,2005,1109097,2008,Y,...,10,F27D3/02,A,I,1.0,AT,None,None,None,None
3,148,EP,A,2007-09-27,2007,,2006,15054845,2008,Y,...,11,F27B17/02,A,I,1.0,AT,None,None,None,None
4,256,EP,A,2008-06-06,2008,,2007,55458188,2009,Y,...,5,F23N1/02,A,I,1.0,DE,None,None,None,None

In [4]:
patents_df["country_code"] = patents_df['person_ctry_code']
# patents_df["country_code"] = patents_df["appln_auth"] # cover all observations but assign the authority country not the innovator country. This mostly concerns Chinese authority applications.

In [5]:
# Classify patents as fossil fuel or renewables

patents_df.loc[patents_df["cpc_class_symbol"].str.startswith("Y02E", na=False), 'cpc_renewables'] = 1
patents_df.loc[~patents_df["cpc_class_symbol"].str.startswith("Y02E", na=False), 'cpc_renewables'] = 0

# Solar only:
patents_df.loc[patents_df["cpc_class_symbol"].str.startswith("Y02E10/5", na=False), 'cpc_solar'] = 1
patents_df.loc[~patents_df["cpc_class_symbol"].str.startswith("Y02E10/5", na=False), 'cpc_solar'] = 0

## Count patents

In [6]:
### Absolute count ###

def absolute_count(df):
    global North

    ## fossil fuel ##
    solar_year = df[df.fossil_fuel == 1].groupby('earliest_filing_year')['docdb_family_id'].nunique().to_frame(name = "Nb_ff_energy_innov_per_year") # Transform the series that groupby creates to a dataframe
    solar_year["Nb_ff_energy_app_per_year"] = df[df.fossil_fuel == 1].groupby('earliest_filing_year')['appln_id'].nunique()

    # countries #
    dict = {} 
    for country in list_country:
        name = "Nb_ff_energy_innov_per_year_" + country
        value = df[(df.fossil_fuel == 1) & (df.country_code == country)].groupby('earliest_filing_year')['docdb_family_id'].nunique() 
        dict["Nb_ff_energy_innov_per_year_" + country] = value
        solar_year[name] = dict[name] 

    # "north" countries #
    column_ff_names_North = []
    North = [x for x in list_country if x != 'CN']
    for country in North :
        name = "Nb_ff_energy_innov_per_year_" + country
        column_ff_names_North.append(name)
    solar_year['Nb_ff_energy_innov_per_year_North']= solar_year[column_ff_names_North].sum(axis=1)


    ## Solar panel ##
    solar_year["Nb_solar_energy_innov_per_year"] = df[df["cpc_renewables"] == 1].groupby('earliest_filing_year')['docdb_family_id'].nunique()
    solar_year["Nb_solar_energy_app_per_year"] = df[df["cpc_renewables"] == 1].groupby('earliest_filing_year')['appln_id'].nunique()

    # countries #
    # by family
    dict = {} 
    for country in list_country:
        name = "Nb_solar_energy_innov_per_year_" + country
        value = df[(df["cpc_renewables"] == 1) & (df.country_code == country)].groupby('earliest_filing_year')['docdb_family_id'].nunique()
        dict["Nb_solar_energy_innov_per_year_" + country] = value
        solar_year[name] = dict[name] 

    # by application
    dict1 = {} 
    for country in list_country:
        name = "Nb_solar_energy_app_per_year_" + country
        value = df[(df["cpc_renewables"] == 1) & (df.country_code == country)].groupby('earliest_filing_year')['appln_id'].nunique()
        dict1["Nb_solar_energy_app_per_year_" + country] = value
        solar_year[name] = dict1[name] 

    # "north" countries #
    column_solar_names_North = []
    North = [x for x in list_country if x != 'CN']
    for country in North :
        name = "Nb_solar_energy_innov_per_year_" + country
        column_solar_names_North.append(name)
    solar_year['Nb_solar_energy_innov_per_year_North']= solar_year[column_solar_names_North].sum(axis=1)

    
    return solar_year

In [7]:
list_country = ["CN", "FR"]
absolute_count(patents_df)

,Nb_ff_energy_innov_per_year,Nb_ff_energy_app_per_year,Nb_ff_energy_innov_per_year_CN,Nb_ff_energy_innov_per_year_FR,Nb_ff_energy_innov_per_year_North,Nb_solar_energy_innov_per_year,Nb_solar_energy_app_per_year,Nb_solar_energy_innov_per_year_CN,Nb_solar_energy_innov_per_year_FR,Nb_solar_energy_app_per_year_CN,Nb_solar_energy_app_per_year_FR,Nb_solar_energy_innov_per_year_North
earliest_filing_year,,,,,,,,,,,,
1980,1,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1984,1,1,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1986,2,3,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1987,4,5,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1988,2,2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1989,9,10,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1990,20,34,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1991,8,11,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1992,35,45,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1993,45,64,NaN,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0
1994,68,82,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1995,88,117,NaN,5.0,5.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0
1996,132,188,NaN,2.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0
1997,367,538,1.0,14.0,14.0,4.0,4.0,NaN,NaN,NaN,NaN,0.0
1998,635,926,1.0,34.0,34.0,10.0,13.0,NaN,NaN,NaN,NaN,0.0
1999,2755,9544,20.0,106.0,106.0,35.0,134.0,NaN,1.0,NaN,1.0,1.0
2000,11465,22160,1409.0,168.0,168.0,138.0,246.0,5.0,4.0,5.0,7.0,4.0
2001,11153,20915,1432.0,189.0,189.0,158.0,288.0,10.0,NaN,10.0,NaN,0.0
2002,10990,20489,1677.0,176.0,176.0,123.0,200.0,29.0,3.0,29.0,10.0,3.0
2003,10777,20112,1711.0,290.0,290.0,115.0,200.0,23.0,1.0,23.0,3.0,1.0
2004,10993,19177,1983.0,292.0,292.0,148.0,246.0,30.0,3.0,30.0,3.0,3.0
2005,11251,17671,2577.0,329.0,329.0,171.0,261.0,34.0,4.0,34.0,11.0,4.0
2006,13039,20047,3387.0,391.0,391.0,314.0,470.0,76.0,2.0,76.0,6.0,2.0
2007,13097,20176,3420.0,446.0,446.0,426.0,618.0,135.0,12.0,135.0,28.0,12.0
2008,15017,23721,3819.0,423.0,423.0,768.0,1017.0,172.0,8.0,176.0,22.0,8.0
2009,17815,27419,731.0,379.0,379.0,1338.0,1851.0,30.0,11.0,31.0,21.0,11.0
2010,19089,28621,167.0,351.0,351.0,1703.0,2233.0,12.0,22.0,25.0,56.0,22.0
2011,22471,32562,197.0,427.0,427.0,1911.0,2583.0,22.0,22.0,54.0,42.0,22.0
2012,26439,37783,159.0,443.0,443.0,1705.0,2363.0,38.0,30.0,48.0,46.0,30.0
2013,26927,37549,218.0,493.0,493.0,1706.0,2478.0,52.0,50.0,87.0,80.0,50.0
2014,27889,36879,212.0,452.0,452.0,2426.0,3418.0,37.0,40.0,63.0,110.0,40.0
2015,30874,39840,231.0,463.0,463.0,2767.0,3616.0,35.0,71.0,62.0,111.0,71.0
2016,35354,42865,246.0,368.0,368.0,4066.0,4782.0,67.0,25.0,89.0,47.0,25.0
2017,39027,43313,237.0,417.0,417.0,4108.0,4424.0,62.0,7.0,112.0,12.0,7.0
2018,38150,39592,161.0,240.0,240.0,1310.0,1356.0,11.0,NaN,15.0,NaN,0.0
2019,14482,14493,14.0,3.0,3.0,15.0,15.0,NaN,NaN,NaN,NaN,0.0